# Ignore everything, but not directories:

*
!**/

# Except the following file types:

!.gitignore
!**.txt
!**.md
!**.zs
!**.zst
!**.sh
!**.yml
!**.dat
!**.png
!**.odg
!**.py
!**.xmi

# Do not ignore 3rdparty code:

!3rdparty/*

# Do ignore this:

build/*
changelog.txt
